<ion-view title="Add New Product">
	<ion-content>
		<form name="addProductForm" ng-init="setFormScope(this)" data-ng-submit="productSubmit()">
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Name" ng-model="newproduct.name">
				</label>
				<!-- <label class="item item-input">
					<input type="text" placeholder="Icon" ng-model="newproduct.icon">
				</label> -->
				
				<label class="item item-input item-select">
					<div class="input-label">
					Icon
					</div>
					<select ng-model="newproduct.icon" ng-options="o.name as o.name for o in products"></select>
				</label>
				
				<label class="item item-input">
					<input type="text" placeholder="Large" ng-model="newproduct.large">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Medium" ng-model="newproduct.medium">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Small" ng-model="newproduct.small">
				</label>
				<li class="item item-toggle">
					Featured
					<label class="toggle toggle-balanced">
						<input type="checkbox" checked ng-model="newproduct.featured">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</div>
			<div class="padding">
				<button class="button button-balanced">
					Add Product
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>