<ion-view title="Add New Message">
	<ion-content>
		
		<ion-refresher pulling-text="Pull to refresh"
	         refreshing-text="Loading..."
	         refreshing-icon="ion-loading-c"
	         pulling-icon="ion-ios7-arrow-thin-down"
	         on-refresh="doRefresh()">
        </ion-refresher>
		
		<form name="addMessageForm" ng-init="setFormScope(this)">
			<div class="list" style="background:#ffffff;">
				<div class="item item-divider">
					Text
				</div>
				<label class="item item-input item-stacked-label">
					<!-- <span class="input-label">Text</span> -->
					<input type="text" placeholder="Text" ng-model="newmessage.text">
				</label>
				
				<div class="item item-divider">
					Expositor
				</div>
				<label class="item item-input item-stacked-label">
					<!-- <span class="input-label">Expositor</span> -->
					<input type="text" placeholder="Expositor" ng-model="newmessage.expositor">
				</label>
				
				<div class="item item-divider">
					Date
				</div>
				<div class="row">
					
					<div class="col">
						<ionic-datepicker input-obj="datepickerObject">
						  <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
						</ionic-datepicker>
					</div>
					
				</div>
				
				
				<div class="item item-divider">
					Time
				</div>
				<div class="row">
					
					<div class="col">
						<span class="input-label">Start</span>
						<ionic-timepicker input-obj="timePickerObjectStart" style="width:300px">
						  <button class="button button-block button-positive overflowShow">
						    {{startHour}}:{{startMinute}}
						  </button>
						</ionic-timepicker>
					</div>
					
					<div class="col">
						<span class="input-label">End</span>
						<ionic-timepicker input-obj="timePickerObjectEnd" style="width:300px">
						  <button class="button button-block button-positive overflowShow">
						    {{endHour}}:{{endMinute}}
						  </button>
						</ionic-timepicker>
					</div>
					
				</div>
				
			</div>
			<div class="padding">
				<button class="button button-balanced" ng-click="messageSubmit(newmessage)">
					Add Message
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>