
<style type="text/css">
  
  
  .thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}


.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
  
  
  </style>

<ion-view title="Add New Person">
	<ion-content>
		<div class="list">
			<div class="padding">
				<button  ng-click="newPerson()" class="button button-balanced">
					Generate New Person
				</button>
			</div>
			<div class="row">
			  <div class="col"  ng-model="new_person"></div>
			</div>
			
			
			

 <h4>Upload on file select</h4>
  <button type="file" ngf-select="uploadFiles($file)"
          accept=".csv" ngf-max-height="2000" ngf-max-size="50MB">
      Select File</button>
  <br><br>
  File:
  <div style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"  
               ng-bind="f.progress + '%'"></div>
      </span>
  </div>     
  {{errorMsg}}
			
		</div>	
		
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Name" ng-model="new_person.name" readonly>
				</label>
				
				<label class="item item-input">
					<input type="text" placeholder="Email" ng-model="new_person.email" readonly>					
				</label>
				
				<label class="item item-input">
					<input type="text" placeholder="Company" ng-model="new_person.company.name" readonly>
				</label>
				
				<label class="item item-input">
					<input type="text" placeholder="Zip code" ng-model="new_person.address.zipcode" >
				</label>				
				
				<div class="item item-divider">
				Zone
				</div>
				
				<label class="item item-input">
					<input type="text" placeholder="Zone from" ng-model="new_person.zonefrom" readonly>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Zone to" ng-model="new_person.zoneto" readonly>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="City" ng-model="new_person.city" readonly>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="State" ng-model="new_person.state" readonly>
				</label>		
				<label class="item item-input">
					<input type="text" placeholder="Message" ng-model="new_person.message" readonly>
				</label>						
				<div class="item item-divider">
				Drink
				</div>				
				<label class="item item-input">
					<input type="text" placeholder="Drink" ng-model="coffee" readonly>
				</label>				
			</div>		
		
		<div class="list">
			<div class="padding">
				<button  ng-click="addPerson()" class="button button-balanced">
					Add Person
				</button>
			</div>
		</div>			
		
		
	</ion-content>
</ion-view>