<ion-popover-view>
	<ion-header-bar>
		<h1 class="title">You have 5 notifications</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<a class="item item-icon-left" href="#">
				<i class="icon ion-waterdrop"></i>
				Hall Way 1
				<span class="item-note">
				Online
				</span>
				<h6>1 minute ago</h6>
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-coffee"></i>
				Hall Way 2
				<span class="item-note">
				Inactive
				</span>
				<h6>14 minute ago</h6>
			</a>
			<a class="item item-avatar" href="#">
				<img src="img/noavatar.png">
				<h2>Xively</h2>
				<h6>Dashboard</h6>
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-waterdrop"></i>
				Client Face
				<span class="item-note">
				Online
				</span>
				<h6>An hour ago</h6>
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-model-s"></i>
				ALl Tests
				<span class="item-note">
				Suscessfull
				</span>
				<h6>6 hours ago</h6>
			</a>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-balanced">
		<button class="button button-light pull-right" ng-click="closeAlerts($event)">Close</button>
	</ion-footer-bar>
</ion-popover-view>