<ion-view title="{{device.devicename}}">
	<ion-content class="padding">
		<div ng-if="device.tagid === null">
			<h5 class="text-center">No Devices to Show</h5>
		</div>
		<!--<div ng-if="device.tagid != null">-->
		<div>
			<img ng-src="img/constitution-dg.png" style="margin-left:auto;display:block;margin-right:auto;width:40%;"/>
			
			<div class="list">
				<div class="item item-icon-left">
					<i class="icon" ng-class="device.icon"></i>
					{{device.devicename}}
					<span class="item-note">
					{{device.status}}
					</span>
				</div>
				<div class="item item-divider">
				Device Info
				</div>
				<li class="item item-toggle">
					Featured
					<label class="toggle toggle-balanced">
						<input type="checkbox" checked ng-model="device.featured">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</div>
			<div class="padding">
				<button class="button button-balanced">
					Close
				</button>
				<button class="button button-balanced">
					Restart
				</button>
			</div>
			
		</div>
	</ion-content>
</ion-view>