<ion-view title="Devices">
	<ion-content class="padding-vertical">
		<ion-refresher pulling-text="Pull to refresh"
	         refreshing-text="Loading..."
	         refreshing-icon="ion-loading-c"
	         pulling-icon="ion-ios7-arrow-thin-down"
	         on-refresh="doRefresh()">
        </ion-refresher>
		<div class="padding-horizontal">	
			<h4>Snapshots</h4>
		</div>
		<wrap-owlcarousel
			class="owl-carousel padding"
			data-options="{
				autoPlay: false,
				slideSpeed : 300,
				paginationSpeed : 400,
				items: 2,
				itemsDesktop: [1199,3],
				itemsTablet: [768,2]                                                                                  ,
				itemsMobile: [479,1],
				navigation: false,
			}">
			<div class="owl-item">
				<img src="img/constitution-dg.png" />
			</div>
			<div class="owl-item">
				<img src="img/layout.png"/>
			</div>
		</wrap-owlcarousel>
		
		<ion-list can-swipe="listCanSwipe">
			
			<ion-item ng-repeat="device in devices | orderBy:'devicename':reverse">
				<div on-tap="deviceSelect('router.device', device)">
					
					<i class="icon" ng-class="device.icon"></i>
					{{ device.devicename }}
					<span class="item-note" ng-class="device.color">
					{{ device.status }}
					</span>
					
					<ion-option-button class="button-positive" ng-click="delete(device)">
				      Delete
				    </ion-option-button>
				    <ion-option-button class="button-info" ng-click="deviceTap('router.editdevice',device)">
				      Edit
				    </ion-option-button>
				    
				</div>
			</ion-item>
		</ion-list>
		<div class="clearfix"></div>
	</ion-content>
</ion-view>