<ion-view title="{{device.devicename}}">
	<ion-content class="padding">
		<div ng-if="device.tagid === null">
			<h5 class="text-center">No Devices to Show</h5>
		</div>
		<!--<div ng-if="device.tagid != null">-->
		<div>
			<img ng-src="img/constitution-dg.png" style="margin-left:auto;display:block;margin-right:auto;width:40%;"/>
			
			<div class="list">
				<div class="item item-icon-left">
					<i class="icon" ng-class="device.icon"></i>
					{{device.devicename}}
					<span class="item-note">
					{{device.status}}
					</span>
				</div>
				<div class="item item-divider">
				Device Info
				</div>
				<li class="item item-toggle">
					Featured
					<label class="toggle toggle-balanced">
						<input type="checkbox" checked ng-model="device.featured">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</div>
			<ion-list can-swipe="listCanSwipe">
				<ion-item ng-repeat="session in sessionArray">
					<div on-tap="deviceTap('router.device', device)">
						<i class="icon" ng-class="device.icon"></i>
						{{ session.deviceName }}
						<span class="item-note" ng-class="device.color">
						{{ session.sessionid }}
						</span>
						<ion-option-button class="button-positive" ng-click="resetSession(session)">
					      Reset
					    </ion-option-button>
					    <ion-option-button class="button-info" ng-click="testSession('router.editdevice',device)">
					      Test
					    </ion-option-button>
					    
					</div>
				</ion-item>
			</ion-list>
			
			
			<div class="padding">
				<button class="button button-balanced">
					Reset All
				</button>
			</div>
			
		</div>
	</ion-content>
</ion-view>