<ion-view title="{{device.devicename}}">
	<ion-content class="padding-vertical">
			<ion-refresher pulling-text="Pull to refresh"
	         refreshing-text="Loading..."
	         refreshing-icon="ion-loading-c"
	         pulling-icon="ion-ios7-arrow-thin-down"
	         on-refresh="doRefresh()">
        </ion-refresher>
		<div ng-if="device.tagid === null">
			<h5 class="text-center">No Devices to Show</h5>
		</div>
		<!--<div ng-if="device.tagid != null">-->
		<div>
			<span ng-show="showImage">
				<img data-ng-src="data:image/png;base64,{{imgSelected}}" style="margin-left:auto;display:block;margin-right:auto;width:40%;"/>
			</span>
			
			<div class="list">
				<!-- <div class="item item-icon-left">
					<i class="icon" ng-class="device.icon"></i>
					{{device.devicename}} 
					<span class="item-note">
					{{device.status}}
					</span>
				</div> -->
				<div class="item item-divider">
					Device Info
				</div>
				<label class="item item-input">
					Device Name: <span class="item-note">{{fromDevice.devicename}}</span>
				</label>
				<label class="item item-input">
					Type: <span class="item-note">{{fromDevice.type}}</span>
				</label>
				<label class="item item-input">
					Server Url: <span class="item-note">{{fromDevice.serverUrl}}</span>
				</label>
				
				<!-- <li class="item item-toggle">
					Featured
					<label class="toggle toggle-balanced">
						<input type="checkbox" checked ng-model="device.featured">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li> -->
			</div>
			<ion-list can-swipe="listCanSwipe">
				<ion-item ng-repeat="session in sessionArray">
					<div on-tap="deviceTap('router.device', device)">
						<i class="icon" ng-class="device.icon"></i>
						{{ session.deviceName }}  ( {{session.deviceDetected}} )
						<span ng-show="validSession(session.ping_dt)" class="item-note" ng-class="device.color">
							 ( Online ) 
						</span>
						<span class="item-note" ng-class="device.color">
						{{ session.socketid }}
						</span>
						<ion-option-button side="right" class="button-positive" ng-click="resetSession(session)">
					      Reset
					    </ion-option-button>
					    <div ng-if="session.deviceType=='dashboard'">
						    <ion-option-button class="button-info" ng-click="testDashboard(session)">
						      Test Dashboard
						    </ion-option-button>
					    </div>
					    <div ng-if="session.deviceType!='dashboard'">
					    	<div ng-if="session.deviceType!='barista'">
							    <ion-option-button class="button-info" ng-click="testSession(session)">
							      Test
							    </ion-option-button>
						    </div>
					    </div>
					    <ion-option-button class="button-dark" ng-click="snapshot(session)">
					    	<i class="icon ion-ios-camera-outline"></i>
					    	<!-- Snapshot -->
					    </ion-option-button>
					    <ion-option-button class="button-info" ng-click="ping(session)">
					      Ping
					    </ion-option-button>
					</div>
				</ion-item>
			</ion-list>
			
			
			<div class="padding">
				<div ng-show="sessionArray.length>0">
					<button class="button button-balanced" ng-click="resetAll()">
						Reset All
					</button>
				</div>
			</div>
			
		</div>
	</ion-content>
</ion-view>