
<ion-view title="{{newuser.username}}">
	<ion-content class="padding">
		<form name="addUserForm" ng-init="setFormScope(this)" data-ng-submit="userSubmit()">
			<div class="list" style="background:#ffffff;">
			
				<label class="item item-input item-stacked-label">
					<span class="input-label">User Name</span>
					<input type="text" placeholder="User Name" ng-model="newuser.username">
				</label>
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">Password</span>
					<input type="text" placeholder="Password" ng-model="newuser.password">
				</label>
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">Email</span>
					<input type="text" placeholder="Email" ng-model="newuser.email">
				</label>
				
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">Image</span>
					<input type="text" placeholder="Image" ng-model="newuser.image">
				</label>
				
				<div>
					<li class="item item-toggle">
						Featured
						<label class="toggle toggle-balanced">
							<input type="checkbox" checked ng-model="newuser.featured">
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>
				</div>
			</div>
			<div class="padding">
				<button class="button button-balanced">
					Update Product
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>