<ion-view title="<img src='img/logo.png' class='img-responsive'>">	
	<ion-content>
		<div class="row chart-wrap">
			<div class="col">
				<h4>Messages</h4>
				<canvas id="line" class="chart chart-line" data="data" options="options" labels="labels"></canvas>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="padding">
			<div class="item item-divider">
				Featured Devices
			</div>
		</div>
		<div ng-repeat="device in devices | filter: { featured: true}">
			<div class="col-lg-50 padding-horizontal">
				<div class="item item-icon-left" on-tap="deviceTap('router.device', device)">
					<i class="icon" ng-class="device.icon"></i>
					{{ device.name }}
					<span class="item-note" ng-class="device.color">
					{{ device.status }}
					</span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="padding">
			<div class="item item-divider">
				Messages
			</div>
		</div>
		<div ng-repeat="msg in messages">
			<div class="col-lg-50 padding-horizontal">
				<div class="item item-icon-left">
					<i class="icon" ng-class="device.icon"></i>
					{{msg.message}}
					<span class="item-note" ng-class="device.color">
					{{ msg.device }}
					</span>
				</div>
			</div>
		</div>
      </ion-list>
	</ion-content>
</ion-view>