<ion-view view-title="Xively Coffee XP" >	
	<ion-nav-title>
      <img src="img/logo.png" class='img-responsive' height='40px'>
    </ion-nav-title>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh"
	         refreshing-text="Loading..."
	         refreshing-icon="ion-loading-c"
	         pulling-icon="ion-ios7-arrow-thin-down"
	         on-refresh="doRefresh()">
        </ion-refresher>
		<div class="row chart-wrap">
			<div class="col">
				<h4>Kiosk Messages</h4>
				<canvas height="100px" id="line" class="chart chart-line" 
						data="data" 
						options="options" 
						labels="labels"
						></canvas>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="padding">
			<div class="item item-divider">
				Featured Devices
			</div>
		</div>
		<div ng-repeat="device in devices | filter: { featured: true}">
			<div class="col-lg-50 padding-horizontal">
				<div class="item item-icon-left" on-tap="deviceSelect('router.device', device)">
					<i class="icon" ng-class="device.icon"></i>
					{{ device.devicename }}

					<span class="item-note">{{device.type}}</span>
					<span class="item-note" ng-class="device.color">
					{{ device.status }}
					</span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="padding">
			<div class="item item-divider">
				Messages
			</div>
		</div>
		<div ng-repeat="msg in messages">
			<div class="col-lg-50 padding-horizontal">
				<div class="item item-icon-left">
					<i class="icon" ng-class="device.icon"></i>
					{{msg.message}}
					<span class="item-note" ng-class="device.color">
					{{ msg.device }}
					{{ msg }}
					</span>
				</div>
			</div>
		</div>
      </ion-list>
	</ion-content>
</ion-view>