<ion-view title="Intro">
	<ion-side-menus>
	
		<ion-side-menu-content>
			
			<ion-nav-bar class="bar-header-menu bar-light">
		      <ion-nav-back-button class="button-icon ion-arrow-left-c">
	          </ion-nav-back-button>
		    </ion-nav-bar>
		    
		    <ion-nav-buttons side="left">
	        <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
	        </button>
	      </ion-nav-buttons>
			
			<ion-nav-view name="menuContent" style="background: url(../img/index-bg.jpg) no-repeat center center fixed;" animation="slide-left-right">
				<ion-content padding="false">
					<ion-slide-box id="intro-slide-box" show-pager="false">
						<ion-slide>
							<div class="row">
								<div class="text-center col col-center">
									<img src="img/logo-inverted.png" class="img-responsive" alt="Xively" height="40px">
									<p class="stable">Xively  Coffee - IoT conception.<br>Tap next to set-up your application or just skip to start instantly</p>
									<div class="padding-bottom">
										<a ng-show="user" href="#/route/dashboard/home" class="button button-balanced">
											Skip Intro
										</a>
										<button ng-click="nextSlide()" class="button button-balanced icon-right ion-ios7-arrow-right">
											<span class="font-family-default">Next</span>
										</button>
									</div>
								</div>
								<div style="height:100vh;"></div>
							</div>
						</ion-slide>
						<ion-slide>
							<div  class="row">
									<div class="text-center col col-center">
										<h4 ng-hide="user" class="light">Service Login</h4>
										<div ng-hide="user" class="list">
											<label class="item item-input">
												<span class="input-label">Username</span>
												<input ng-model="username" type="text">
											</label>
											<label class="item item-input">
												<span class="input-label">Password</span>
												<input ng-model="password" type="password">
											</label>
										</div>
										<div class="padding-bottom">
											<button ng-hide="user" ng-click="prevSlide()" class="button button-balanced icon-left ion-ios7-arrow-left">
												<span class="font-family-default">Prev</span>
											</button>
											<a ng-show="user" href="#/route/dashboard/home" class="button button-balanced">
												Skip Intro
											</a>
											<button ng-hide="user" ng-click="login(username,password)" class="button button-balanced icon-right ion-ios7-arrow-right">
												<span class="font-family-default">Log In</span>
											</button>
										</div>
										<div class="text-center">
											<p><button ng-click="showRegister()" class="button button-clear button-light">Not a Member?</button></p>
										</div>
									</div>
			
								<div style="height:100vh;"></div>
							</div>
						</ion-slide>
					</ion-slide-box>
				</ion-content>
			</ion-nav-view>
		</ion-side-menu-content>
			
		<ion-side-menu side="left">
			<ion-header-bar class="bar-balanced">
				<h1 class="title">Devices</h1>
			</ion-header-bar>
		    <ion-content>
		    	
				<div class="list">
					<a menu-close class="item item-icon-left" href="https://kiosk-mmayorivera.c9.io/">
						<i class="icon ion-ios-monitor"></i>
						Kiosk
					</a>
					<!-- <a menu-close class="item item-icon-left" href="#/route/dashboard/home">
						<i class="icon ion-coffee"></i>
						Barista
					</a>
					<menu-close class="item item-icon-left" href="#/route/dashboard/home">
						<i class="icon ion-icecream"></i>
						Kiosk
					</ion-item> -->
				</ion-list>
			</ion-content>
		</ion-side-menu>
	</ion-side-menus>
</ion-view>