<ion-view title="Intro">
	
	<ion-side-menus>
	
		<ion-side-menu-content>
			
			<ion-nav-bar class="bar-header-menu bar-light">
		      <ion-nav-back-button class="button-icon ion-arrow-left-c">
	          </ion-nav-back-button>
		    </ion-nav-bar>
		    
		    <ion-nav-buttons side="left">
	        <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
	        </button>
	      </ion-nav-buttons>
			
			<ion-nav-view name="menuContent" animation="slide-left-right">
				<ion-content padding="false">
					<ion-slide-box id="intro-slide-box" show-pager="false">
						<ion-slide>
							<div class="row">
								<div class="text-center col col-center">
									<img src="img/logo-inverted.png" class="img-responsive" alt="Logo">
									<p class="stable">Xively  Coffee - IoT conception.<br>Tap next to set-up your application or just skip to start instantly</p>
									<div class="padding-bottom">
										<a ng-show="user" href="#/route/dashboard/home" class="button button-balanced">
											Skip Intro
										</a>
										<button ng-click="nextSlide()" class="button button-balanced icon-right ion-ios7-arrow-right">
											<span class="font-family-default">Next</span>
										</button>
									</div>
								</div>
								<div style="height:100vh;"></div>
							</div>
						</ion-slide>
						<ion-slide>
							<div  class="row">
									<div class="text-center col col-center">
										<h4 ng-hide="user" class="light">Service Login</h4>
										<div ng-hide="user" class="list">
											<label class="item item-input">
												<span class="input-label">Username</span>
												<input ng-model="username" type="text">
											</label>
											<label class="item item-input">
												<span class="input-label">Password</span>
												<input ng-model="password" type="password">
											</label>
										</div>
										<div class="padding-bottom">
											<button ng-hide="user" ng-click="prevSlide()" class="button button-balanced icon-left ion-ios7-arrow-left">
												<span class="font-family-default">Prev</span>
											</button>
											<a ng-show="user" href="#/route/dashboard/home" class="button button-balanced">
												Skip Intro
											</a>
											<button ng-hide="user" ng-click="login(username,password)" class="button button-balanced icon-right ion-ios7-arrow-right">
												<span class="font-family-default">Log In</span>
											</button>
										</div>
										<div class="text-center">
											<p><button ng-click="showRegister()" class="button button-clear button-light">Not a Member?</button></p>
										</div>
									</div>
			
								<div style="height:100vh;"></div>
							</div>
						</ion-slide>
					</ion-slide-box>
				</ion-content>
			</ion-nav-view>
		</ion-side-menu-content>
			
		<ion-side-menu side="left">
			<header class="bar bar-header bar-stable">
				<h1 class="title">Devices</h1>
			</header>
		    <ion-content class="has-header">
				<ion-list>
					<ion-item menu-close ng-click="login()">
					  Device 1
					</ion-item>
					<ion-item menu-close href="#/app/search">
					  Device 2
					</ion-item>
					<ion-item menu-close href="#/app/browse">
					  Device 3
					</ion-item>
					<ion-item menu-close href="#/app/playlists">
					  Device 4
					</ion-item>
				</ion-list>
			</ion-content>
		</ion-side-menu>
	</ion-side-menus>
</ion-view>