<ion-view title="Messages">
	
	<ion-content class="padding-vertical">
	<ion-refresher pulling-text="Pull to refresh"
	         refreshing-text="Loading..."
	         refreshing-icon="ion-loading-c"
	         pulling-icon="ion-ios7-arrow-thin-down"
	         on-refresh="doRefresh()">
     </ion-refresher>		
     
		<ion-list can-swipe="listCanSwipe">
			
			<ion-item ng-repeat="message in messages | orderBy:'name':reverse">
				
				<div> <!-- on-tap="deviceTap('router.viewPerson',p)" -->
					
					{{ message.expositor }}
					<span class="item-note" ng-class="device.color">
						{{ message.start | date:"MM/dd/yyyy ' ' h:mma"}}
					</span>
   					<ion-option-button class="button-info" ng-click="deleteMessage(message)">
   						Delete
					</ion-option-button>				    
				</<div>
				
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>