<ion-view title="People">
	
	  
	
	<ion-content class="padding-vertical">
	<ion-refresher pulling-text="Pull to refresh"
	         refreshing-text="Loading..."
	         refreshing-icon="ion-loading-c"
	         pulling-icon="ion-ios7-arrow-thin-down"
	         on-refresh="doRefresh()">
     </ion-refresher>		
     <div id="search-box" class="bar bar-header item-input-inset">
        <div class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="data.searchQuery">
          <i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i>
        </div>
        <button class="button button-clear">
          Cancel
        </button>
      </div>
      
	      <div class="buttons">
	        <button class="button button-icon icon ion-ionic" ng-click="data.showTest=!data.showTest;listSwipe()"></button>
	        <button ng-show="data.showTest" type="button" class="button button-default" style="float:right;" ng-click="test()">Test</button>
	      </div>
	    
		<ion-list can-swipe="listCanSwipe">
			<ion-item ng-repeat="p in visitors | orderBy:'name':reverse | filter: {name: data.searchQuery}">
      		
      		<div style="height:20px">
						<label class="checkbox customCheckBox bounceInLeft animated" ng-show="data.showTest">
			      	<input class="animate-show" type="checkbox" ng-model="p.checked">
			     	</label>
			     	<div style="display:inline-block">{{ p.name }}</div>
		     	</div>
					<!-- <input ng-show="selectPeople" type="checkbox" class="checkbox" ng-model="p.checked" />  -->
					
					<ion-option-button class="button-positive" ng-click="deviceTap('router.viewPerson',p)">
				      View
				    </ion-option-button>
   					<ion-option-button class="button-info" ng-click="testSession(session)">
					      Test
					</ion-option-button>				    
				    <!-- 
				    <ion-option-button class="button-balanced" ng-click="testTransaction(session)">
				      Test Transaction
				    </ion-option-button> -->
				    <!-- 
				    <ion-option-button class="button-info" ng-click="deviceTap('router.editLocation',p)">
				      Edit
				    </ion-option-button>
				    -->
				<!-- </div> -->
				
			</ion-item>
		</ion-list>
	</ion-content>
	
	
	
	
</ion-view>