<ion-view title="People">
	
	<ion-content class="padding-vertical">
	<ion-refresher pulling-text="Pull to refresh"
	         refreshing-text="Loading..."
	         refreshing-icon="ion-loading-c"
	         pulling-icon="ion-ios7-arrow-thin-down"
	         on-refresh="doRefresh()">
     </ion-refresher>		
			<ion-list can-swipe="listCanSwipe">
			
			<ion-item ng-repeat="p in visitors | orderBy:'name':reverse">
				
					
					<i class="icon" ng-class="p.icon"></i>
					{{ p.name }}
					<ion-option-button class="button-positive" ng-click="delete(p)">
				      Test
				    </ion-option-button>
				    <ion-option-button class="button-info" ng-click="deviceTap('router.editLocation',p)">
				      Edit
				    </ion-option-button>
				    
				
			</ion-item>
		</ion-list>
	</ion-content>
	
	
	
	
</ion-view>