<ion-side-menus>
	<ion-side-menu-content>
		<ion-nav-bar class="bar-light" animation="nav-title-slide-ios7">
			<ion-nav-back-button class="button-icon ion-arrow-left-c">
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<a class="button button-icon icon ion-ios7-email-outline" ng-click="openAlerts($event)"><span class="badge badge-balanced">5</span></a>
		</ion-nav-buttons>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu expose-aside-when="large">
		<ion-header-bar class="bar-balanced">
			<h1 class="title">Menu</h1>
			<button ng-click="logout()" class="button button-balanced icon-right ion-log-out">
							<span class="font-family-default">Log Out</span>
			</button>
		</ion-header-bar>
		<ion-content>
			<div class="list">
				<a menu-close class="item item-icon-left" href="#/route/dashboard/home">
					<i class="icon ion-ios-speedometer"></i>
					Dashboard
				</a>
	
				<a menu-close class="item item-icon-left" href="#/route/devices">
					<i class="icon ion-network"></i>
					Devices
					<span class="badge badge-balanced">{{devices.length}}</span>
				</a>
				<a menu-close class="item item-icon-left" href="#/route/locations">
					<i class="icon ion-ios-location"></i>
					Locations
					<span class="badge badge-balanced">{{locations.length}}</span>
				</a>
				<a menu-close class="item item-icon-left" href="#/route/products">
					<i class="icon ion-coffee"></i>
					Products
					<span class="badge badge-balanced">{{products.length}}</span>
				</a>
				<a menu-close class="item item-icon-left" href="#/route/users">
					<i class="icon ion-ios-people"></i>
					Users
					<span class="badge badge-balanced">{{users.length}}</span>
				</a>
				<a menu-close class="item item-icon-left" href="#/route/servers">
					<i class="icon ion-ios-albums"></i>
					Servers
					<span class="badge badge-balanced">{{servers.length}}</span>
				</a>
				<a menu-close class="item item-icon-left" href="#/route/people">
					<i class="icon ion-ios-people-outline"></i>
					People
					<span class="badge badge-balanced">{{totalPeople}}</span>
				</a>
				<div class="item item-divider">
					Quick Actions
				</div>
				<a menu-close class="item item-icon-left" href="#/route/add-device">
					<i class="icon ion-fork-repo"></i>
					Add Device
				</a>
				<!-- <a menu-close class="item item-icon-left" href="#/route/add-action">
					<i class="icon ion-ios7-plus-empty"></i>
					Add Action
				</a> -->
				<a menu-close class="item item-icon-left" href="#/route/add-product">
					<i class="icon ion-ios-plus-empty"></i>
					Add Product
				</a>
				<a menu-close class="item item-icon-left" href="#/route/add-location">
					<i class="icon ion-ios-plus"></i>
					Add Location
				</a>
				<a menu-close class="item item-icon-left" href="#/route/add-user">
					<i class="icon ion-ios-personadd"></i>
					Add User
				</a>
				<a menu-close class="item item-icon-left" href="#/route/add-server">
					<i class="icon ion-android-desktop"></i>
					Add Server
				</a>
				<a menu-close class="item item-icon-left" href="#/route/add-person">
					<i class="icon ion-ios-personadd-outline"></i>
					Add Person
				</a>
				<a menu-close class="item item-icon-left" href="#/route/add-message">
					<i class="icon ion-ios-email"></i>
					Add Message
				</a>
			</div>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>>