<ion-view title="View Server">
	<ion-content>
		
			<div class="list">
				<div class="item item-divider">
				Server Info
				</div>
				<label class="item item-input">
					<input type="text" placeholder="Name" ng-model="newserver.name" readonly>
				</label>				
				<label class="item item-input">
					<input type="text" placeholder="Url" ng-model="newserver.url" readonly>
				</label>				
				<label class="item item-input">
					<input type="text" placeholder="Ip Address" ng-model="newserver.ipaddress" readonly>
				</label>
			</div>
	
	
	</ion-content>
</ion-view>