/*@base-color:#ff4943;
@word-color:#fff;*/
.bar.bar-balanced {
  border-color: #ff4943;
  background-color: #ff4943;
  /*background-image: linear-gradient(0deg,#498f24,#498f24 50%,transparent 50%);*/
  color: #fff;
}
.button.button-balanced {
  border-color: #ff4943;
  background-color: #ff4943;
  color: #fff;
}
.button.button-balanced.activated,
.button.button-balanced.active {
  border-color: #ff4943;
  background-color: #ff4943;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}
.bar-header-menu {
  background-color: #ff4943!important;
}
.bar.bar-stable .title {
  background-color: #ff4943;
  color: #fff;
}
.popup {
  width: 350px!important;
}
/*.badge.badge-balanced{
  border-color: #ff4943;
  background-color: #ff4943;
  color: #fff;
}

.toggle.toggle-balanced input:checked + .track{
  border-color: #ff4943;
  background-color: #ff4943;
}*/
