/*@base-color:#ff4943;
@word-color:#fff;*/
.bar.bar-balanced {
  border-color: #ff4943!important;
  background-color: #ff4943!important;
  /*background-image: linear-gradient(0deg,#498f24,#498f24 50%,transparent 50%);*/
  color: #fff!important;
}
.button.button-balanced {
  border-color: #ff4943!important;
  background-color: #ff4943!important;
  color: #fff!important;
}
.button.button-balanced.activated,
.button.button-balanced.active {
  border-color: #ff4943!important;
  background-color: #ff4943!important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15) !important;
}
.bar-header-menu {
  background-color: #ff4943!important;
}
.bar.bar-stable .title {
  background-color: #ff4943!important;
  color: #fff!important;
}
.popup {
  width: 400px!important;
}
/*.badge.badge-balanced{
  border-color: #ff4943;
  background-color: #ff4943;
  color: #fff;
}

.toggle.toggle-balanced input:checked + .track{
  border-color: #ff4943;
  background-color: #ff4943;
}*/
.popup-body {
  text-align: center!important;
}
.carousel {
  width: 500px!important;
  height: 350px!important;
  margin-left: auto!important;
  margin-right: auto!important;
}
.imageCarousel {
  width: 500px!important;
  height: 350px!important;
}
.customCheckBox {
  padding: 0px 0px;
  padding-right: 15px;
}
/*.checkbox input, .checkbox-icon{
  width:20px;
  height:20px;
}

.checkbox input:after, .checkbox-icon:after{
  left:23%;
  width:11px;
}*/
